h1 {
    display: flex;
    justify-content: center;
}
h2 {
    display: flex;
    justify-content: center;
}

.successBox {
    width: 400px;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    flex-direction: column;
    background-color: var(--primary);
    border-radius: 8px;
    border: 1px solid black;
}

